@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Londrina+Outline&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+CZ:wght@100..400&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-hash: #0f0f0f;
  --bg-rgb: 15, 15, 15;
  // --bg-rgb: 0, 0, 0;
  // --bg-rgb: 253, 255, 239;
  --bg: rgb(var(--bg-rgb));

  --primary-hash: #fdffef;
  --primary-rgb: 253, 255, 239;
  // --primary-rgb: 15, 15, 15;
  --primary: rgb(var(--primary-rgb));

  --border: rgb(var(--primary-rgb), 0.2);
  // --border: transparent;

  --clr-1: var(--primary);
  --clr-2: #33ff8c;
  --clr-3: #ffc640;
  --clr-4: #e54cff;

  --blur-aurora: 1rem;
  --aurora-blend-mode: darken;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // font-family: "Noto Sans", sans-serif;
  // font-family: "Londrina Outline", sans-serif;
  // font-family: "Fredericka the Great", serif;
  // font-family: "Red Hat Display", sans-serif;
  // font-family: "Playwrite CZ", cursive;

  color-scheme: dark light;
  background-color: var(--bg);
  color: var(--primary);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-hash: #fdffef;
    --bg-rgb: 253, 255, 239;
    --bg: rgb(var(--bg-rgb));

    --primary-hash: #0f0f0f;
    --primary-rgb: 15, 15, 15;
    --primary: rgb(var(--primary-rgb));

    --border: rgb(var(--primary-rgb), 0.2);

    --clr-1: purple;
    --clr-2: #2fd979;
    --clr-3: #c29734;
    --clr-4: #ba44cf;

    --blur-aurora: 1rem;
    --aurora-blend-mode: lighten;

    color-scheme: dark light;
    background-color: var(--bg);
    color: var(--primary);
  }
}

.londrina-outline-regular {
  font-family: "Londrina Outline", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fredericka-the-great-regular {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}

// <weight>: Use a value from 300 to 900
.red-hat-display-regular {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

// <weight>: Use a value from 100 to 900
.noto-sans-regular {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

// <weight>: Use a value from 100 to 400
.playwrite-cz-regular {
  font-family: "Playwrite CZ", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dim {
  filter: opacity(0.8);
}

input,
textarea {
  outline: none;
  background-color: rgb(var(--bg-rgb));
}

/* For webkit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--bg); /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--primary-rgb), 0.1); /* Color of the scrollbar thumb */
  border-radius: 2.5px; /* Rounded corners for better aesthetics */
}

/* Optional: Add hover effect for better UX */
::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--primary-rgb), 0.1);
}

.dark-glassy {
  backdrop-filter: blur(10px);
  background-color: rgba(var(--bg-rgb), 0.9);
}

.border-gradient-a {
  background: radial-gradient(var(--primary) 0%, #ffffff00 50%);
}

.bg-banner-grid {
  --opacity: 0.2;
  background-color: var(--bg);
  opacity: 0.6;
  background-image: linear-gradient(rgb(var(--primary-rgb), var(--opacity)) 1px, transparent 1px),
    linear-gradient(to right, rgb(var(--primary-rgb), var(--opacity)) 1px, var(--bg) 1px);
  background-size: 20px 20px;
  background-attachment: fixed;
}

.bg-banner-grid-filter {
  background: var(--bg);
  background: linear-gradient(0deg, var(--bg) 0%, #00000000 60%, var(--bg) 100%);
  background-attachment: fixed;
}

.bg-banner-grid-filter-attached {
  background: var(--bg);
  background: linear-gradient(0deg, var(--bg) 0%, #00000000 50%, var(--bg) 150%);
  /* background-attachment: fixed; */
}

.title-aurora {
  /* font-size: var(--fs); */
  /* font-weight: 800; */
  /* letter-spacing: var(--ls); */
  position: relative;
  overflow: hidden;
  // background: var(--bg);
  margin: 0;
  padding-bottom: 15px;
}

.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: var(--aurora-blend-mode);
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur-aurora));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite, aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite, aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite, aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite, aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}

.img-grid-container {
  width: 100%;
  columns: 175px;
  gap: 10px;

  div {
    margin-bottom: 10px;

    img {
      width: 100%;
      // filter: grayscale(1);
    }
  }
}
